/*   

body[seletor],  {[declaração]
    background-color[propriedade]: black[valor]
    
}

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: roboto , sans-serif;
    color: #444;
}